<template>
    <div class='add-Tasks'><br>
        <b-container>
            <b-alert v-if="created" variant="success" show>Added Successfully</b-alert>
            <b-btn v-b-toggle.collapse1 variant="primary" v-if='btnEnable' v-on:click="showCollapse1=true">Add New Tasks</b-btn>
            <b-collapse id="collapse1" class="mt-2" v-if="showCollapse1">
                <b-card>
                    <h3 class='text-center'>Add Your Tasks</h3>
                    <label for="taskName"><b>Task Title</b></label>
                    <b-form-input name='taskName' v-model="taskTitle" type="text" placeholder="Enter your task title..."></b-form-input><br>
                    <label for="taskDescription"><b>Task Description</b></label>
                    <b-form-input v-model="taskDescription" name='taskDescription' type="text" placeholder='Enter short Description...'></b-form-input><br>
                    <label for="dueDate"><b>Due Date</b></label>
                    <b-form-input type='date' v-model="dueDate"></b-form-input><br>
                    <label for="dueTime"><b>Due Time</b></label>
                    <b-form-input v-model="dueTime" type='time'></b-form-input><br>
                    <b-btn v-on:click='addToDatabase' class='btn btn-primary' type='submit'>Add to Task List</b-btn>
                </b-card>
            </b-collapse>
        </b-container>
</div>
</template>
<script>
/* eslint-disable */
// eslint-disable-next-line
import {bus} from '../main' 
export default {
    props: ['allTask'],
    data () {
        return {
            userName: '',
            taskTitle: '',
            taskDescription: '',
            dueDate: '',
            dueTime: '',
            btnEnable: true,
            created: false,
            showCollapse1: true,
            newTask: {
                taskId: '',
                userName: '',
                taskName: '',
                taskDescription: '',
                dueDate: '',
                dueTime: ''
            }
        }
    },
    methods: {
        addToDatabase: function() {

            //this.allTask.tasks=this.allTask.concat(this.newTask)
            //console.log(JSON.stringify(this.allTask.tasks) )
            this.$http.post('http://localhost/To-Do-App-Vue/To-Do-With-Vue/API-For-Vue-to-do/requests/addTask.php', {
                userName: this.$store.state.status.userName,
                taskName: this.taskTitle,
                taskDescription: this.taskDescription,
                dueDate: this.dueDate,
                dueTime: this.dueTime

            }).then(function(data){
                this.newTask.taskId=34,
                this.newTask.userName=this.userName,
                this.newTask.taskName=this.taskTitle,
                this.newTask.taskDescription=this.taskDescription,
                this.newTask.dueDate=this.dueDate,
                this.newTask.dueTime=this.dueTime
                this.allTask.push(this.newTask);
                this.created=true;
                this.showCollapse1=false
               //  console.log(JSON.stringify(this.allTask));
                //console.log(data);
            });
            }
    },
    created() {
        bus.$on('showName',(data)=>{
            this.userName=data;
        });
    }
}
</script>

                                                    