<template>
    <div id='all-Tasks'>
        <app-header></app-header>
        <br>
        <add-Tasks v-bind:allTask="allTask"></add-Tasks> <br>
        <div class="container">
            <b-alert v-if="noTasks" variant="primary" show>You have not added any task today please add new task</b-alert>
            <b-alert v-if="deleated" variant="success" show>Deleated Successfully</b-alert>
            <div v-for="(task,index) in allTask" :key="task.id" >
                <b-card v-bind:title="task.taskName"
                    v-bind:sub-title="'Today At - '+task.dueTime" class="text-capitalize">
                    <p class="card-text">{{task.taskDescription}}</p>
                    <button class="btn btn-primary">Compeleted</button>
                    <button class='btn btn-danger' v-on:click="deleteTask(task.taskId,index)">Delete</button>
                </b-card><br>
            </div>
        </div>
    </div>
</template>
<!--All Script will goes here-->
<script>
/* eslint-disable */ 
/* eslint-disable no-new */
import {bus} from '../main'
export default {
    data () {
        return {
            allTask: [],
            deleated: false,
            noTasks: false
        }
    },
    methods: {
        deleteTask: function(taskId,index) {
            this.$http.get("http://localhost/To-Do-App-Vue/To-Do-With-Vue/API-For-Vue-to-do/requests/deleatTask.php?taskId="+taskId).then(function(data){
                this.allTask.splice(index, 1);
                this.deleated=true;
            });
        },
        reloadPage: function() {
            document.reloadPage
        }
    },
    created() {
        this.$http.get('http://localhost/To-Do-App-Vue/To-Do-With-Vue/API-For-Vue-to-do/requests/readTask.php?userName='+this.$store.state.status.userName).then(function(data){
            this.allTask=data.body.tasks;
            if(this.allTask==null){
                this.noTasks=true
            }
            

            //bus.$emit('createTask',data.body.tasks)
        });
    }
}
</script>