<template>
<div class='app-header'>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
        <a class="navbar-brand" href="#">To-Do-App</a>
        <ul class="navbar-nav">
            <li v-if='!this.$store.state.status.guestUser' class="nav-item">
                <a class="nav-link" href="#/allTasks">All tasks</a>
            </li>
            <li v-if='!this.$store.state.status.guestUser' class="nav-item">
                <a class="nav-link" href="#/addTasks">Add tasks</a>
            </li>
            <li v-if='this.$store.state.status.guestUser' class="nav-item pull-right">
                <a class="nav-link pull-right" href="#/register">Register</a>
            </li>
            <li v-if='this.$store.state.status.guestUser' class="nav-item pull-right">
                <a class="nav-link pull-right" href="#/login">Log In</a>
            </li>
            <li v-if='!this.$store.state.status.guestUser' class="nav-item pull-right">
                <a class="nav-link pull-right text-capitalize" v-on:click="logout" href="#/">{{this.$store.state.status.userName}}</a>
            </li>
            <li v-if='!this.$store.state.status.guestUser' class="nav-item pull-right">
                <a class="nav-link pull-right" href="" v-on:click="!guestUser">Log Out</a>
            </li>
        </ul>
    </nav>
</div>
</template>
<script>
// eslint-disable-next-line
/* eslint-disable */ 
import {bus} from '../main';
export default {
    data () {
        return {
        }
    },
    methods: {
        logout: function() {
            this.$store.state.status.loginStatus=false;
            this.$store.state.status.guestUser=true;
        }
    }
}
</script>
