<template>
    <div class='app-home'>
        <app-header v-if="!logeInSuccessfull"></app-header>
        <div style='width: 100%;height: 10%'>
            <b-carousel id="carousel1"
                style="text-shadow: 1px 1px 2px #333;"
                controls
                indicators
                background="#ababab"
                :interval="4000"
                img-width="1024"
                img-height="480"
                v-model="slide"
                @sliding-start="onSlideStart"
                @sliding-end="onSlideEnd">
             <b-carousel-slide
                        img-src="https://picsum.photos/1024/480/?image=52"
            >
            <h1>To Do App</h1>
            <b-btn v-b-modal.modal1>Launch demo modal</b-btn>

                <!-- Modal Component -->
                <b-modal id="modal1" style='color: black;' title="Enter userName">
                    <label for="userName">User Name </label>
                    <b-form-input type='text'></b-form-input>
                </b-modal>

            </b-carousel-slide>
            <b-carousel-slide img-src="https://picsum.photos/1024/480/?image=54">
                <h1>Hello world!</h1>
            </b-carousel-slide>
            <b-carousel-slide img-src="https://picsum.photos/1024/480/?image=58">
                <h1>Hello world!</h1>
            </b-carousel-slide>
        </b-carousel>
        </div>
    </div>
</template>
<script>
// eslint-disable-next-line
/* eslint-disable */
import {bus} from '../main'
export default {
    props: ['logeInSuccessfull'],
    data () {
        return{
            guest: true
        }
    },
    created() {
       bus.$on('guestUser', (data)=>{
         //  this.guest=data
           console.log('creatde data '+this.guest)
       });
    }
}
</script>
