<template>
    <div class='app-login'>
        <app-header ></app-header>
        <br>
        <div class="container" v-if="!this.$store.state.status.loginStatus">
            <b-card title="Login" >
                <br>
                <div class="card-text">
                    <b-form>
                        <b-row>
                            <b-col cols="3">
                                <label for="email"><b>Email </b></label><br><br>
                            </b-col>
                            <b-col cols="8">
                                <b-input  v-model="userEmail" type="text" placeholder="username@example.com"></b-input>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col cols="3">
                                <label for="password"><b>Password </b></label><br><br>
                            </b-col>
                            <b-col cols="8">
                                <b-input v-model='userPassword' type="password"></b-input>
                            </b-col>
                        </b-row>
                        <span v-if='loginErr' class="text-danger text-center">*Envalid Emailid and Password</span>
                        <div class="col-md-11 text-center">
                            <button v-on:click='login' type='submit' class="btn btn-primary">Login</button>
                        </div>
                    </b-form>
                </div>
            </b-card>
        </div>
        <div class="container" v-if="this.$store.state.status.loginStatus"><br>
            <h1 class='text-success text-center'>Welcome {{this.$store.state.status.userName}},</h1>
        </div>
    </div>
</template>
<script>
/* eslint-disable */
// eslint-disable-next-line
import {bus} from '../main'
export default {
    data () {
        return {
            userName: '',
            userEmail: '',
            userPassword: '',
            logeInSuccessfull: false,
            loginErr: false,
            loadHome: true,
            showName: ''
        }
    },
    methods: {
        login: function() {
            this.$http.post('http://localhost/To-Do-App-Vue/To-Do-With-Vue/API-For-Vue-to-do-users/requests/checkUser.php', {
               email: this.userEmail,
               password: this.userPassword
            }).then(function(data){
                console.log(data)
                if(data.body.message=='Account Found'){
                      this.$store.state.status.userName=data.body.name;
                       this.$store.state.status.guestUser=false;
                       this.$store.state.status.loginStatus=true;
                       
                }else{
                    this.loginErr=true;
                    this.$store.state.status.guestUser=true;
                    this.$store.state.status.loginStatus=false;
                }

            });
        }
    },
    created() {
    }
}
</script>

