<template>
    <div id='app-register'>
        <app-header></app-header>
        <br>
        <div class="container" v-if="!this.$store.state.status.registeredSuccessfully">
            <b-alert show variant="danger" v-if="validation">Danger Alert</b-alert><br>
            <b-card title="Register">
                <br>
                <div class="card-text">
                        <b-row>
                            <b-col cols="3">
                                <label for="fullName"><b>Full Name </b></label><br><br>
                            </b-col>
                            <b-col cols="8">
                                <b-input v-model='name' name='name' v-validate="'required'" type="text" placeholder="Enter Your Full Name....."></b-input>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col cols="3">
                                <label for="name"><b>User Name </b></label><br><br>
                            </b-col>
                            <b-col cols="8">
                                <b-input v-model='userName' name='userName' v-validate="'required'" type="text" placeholder="Enter Unique User Name...."></b-input>
                                <span v-show="errors.has('userName')" class="text-danger">{{ errors.first('userName') }}</span>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col cols="3">
                                <label for="email"><b>Email </b></label><br><br>
                            </b-col>
                            <b-col cols="8">
                                <b-input v-validate="'required|email'" name='email' type="text" v-model='email' placeholder="username@example.com"></b-input>
                                <span class="text-alert">{{ errors.first('email') }}</span>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col cols="3">
                                <label for="password"><b>Password </b></label><br><br>
                            </b-col>
                            <b-col cols="8">
                                <b-input v-model='password' v-validate="'required|min:6'" name='password' type="password"></b-input>
                                <span class="text-alert">{{ errors.first('password') }}</span>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col cols="3">
                                <label for="cnfPassword"><b>Confirm Password </b></label><br><br>
                            </b-col>
                            <b-col cols="8">
                                <b-input  v-validate="'required|min:6'" type="password" v-model='cnfPassword' name='Confirm_Password'></b-input>
                                <span class="text-alert">{{ errors.first('Confirm_Password') }}</span>
                            </b-col>
                        </b-row>
                        <span class="text-danger text-center" v-if="error">*{{allError.commonErr}}</span>
                        <div class="col-md-11 text-center">
                            <button class="btn btn-primary" v-on:click="addToDataBase">Register</button>
                        </div>
                </div>
            </b-card>
        </div>
    </div>
</template>
<script>
/* eslint-disable */
// eslint-disable-next-line
import {bus} from '../main'
export default {
    data () {
        return {
            userName: '',
            name: '',
            email: '',
            password: '',
            cnfPassword: '',
            registeredSuccessfully: false,
            error: false,
            allError: {
                nameErr: 'Please Enter a valid Name',
                commonErr: 'Please Enter all the details'
            }

        }
    },
    computed: {
        
    },
    methods: {
        validate: function() {
            if(this.name.length<3||this.userName.length<3||this.email.length<3||this.password.length<6||this.cnfPassword.length<6){
                this.error=true;
                return false
            }else{
                return true;
            }
            
        },
        addToDataBase: function() {
            if(this.validate()==true){
                this.$http.post('http://localhost/To-Do-App-Vue/To-Do-With-Vue/API-For-Vue-to-do-users/requests/addUser.php', {
                    userName: this.userName,
                    name: this.name,
                    email: this.email,
                    password: this.password,
                }).then(function(data){
                    this.$store.state.status.registeredSuccessfully=true;
                    this.$store.state.status.guestUser=false;
                    this.$store.state.status.loginStatus=true;
                    this.$store.state.status.userName=this.userName;
                })
            }
        }
    }
}
</script>

