<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>
<script>
/* eslint-disable */ 
/* eslint-disable no-new */
//Including section of all files
import allTasks from './components/allTasks.vue'
import header from './components/header.vue'
import {bus} from './main'


export default {
  components: {
    'all-Tasks': allTasks,
    'app-header': header
  },
  data () {
    return{
 //     showName: ''
    }
  }
}
</script>

<style>
.bottom-three {
     margin-bottom: 1.5cm;
  }
</style>
